@font-face {
  font-family: 'Advance Wars';
  src: url('../fonts/aw2text.eot');
  src: local('☺'), url('../fonts/aw2text.woff') format('woff'), url('../fonts/aw2text.ttf') format('truetype'), url('../fonts/aw2text.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #e1ddd9;
  font-size: 12px;
  font-family: 'Source Sans Pro', 'Arial', 'Verdana', sans-serif;
  color: #000;
  text-align: center;
}

a {
 color: #000000;
}

h2 {
  margin: 0 0 5px 0;
  font-size: 120%;
  font-weight: 900;
}

select {
  float: left;
  display: block;
  margin: 0 0 10px 55px;
  width: 170px;
}

select:last-child {
  margin-bottom: 0;
}

#content {
  width: 400px;
  padding: 7px;
  margin: 0 auto;
  text-align: left;
  background: url("../images/bg.jpg") no-repeat;
  background-color: #fff;
  overflow: auto;
  border: 1px solid #ADABA8;
  margin-bottom: 10px;
}

#footer {
  width: 400px;
  padding: 7px;
  margin: 0 auto;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  border: 1px solid #C4C1BD;
  margin-bottom: 10px;
  font-size: 9px;
  text-align: center;
}

#header {
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 0;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     2px 2px 0 #000;
}

#header h2 {
  margin: 0;
  font-size: 28px;
  line-height: 16px;
}

#header h3 {
  font-size: 18px;
  margin: 0;
}

.field-group {
  border: 1px solid #C4C1BD; padding: 5px; margin-bottom: 10px;
  overflow: hidden;
}

#alt {
  float: right;
  background: url('../images/alt.gif') no-repeat;
  width: 35px;
  height: 31px;
  cursor: pointer;
  margin: 20px 50px 0 0;
}

#quote-preview #portrait {
  height: 48px;
  width: 48px;
  position: absolute;
  left: 0;
}

#quote-preview #quote-text {
  position: absolute;
  left: 50px;
  top: 5px;
  width: 185px;
  height: 32px;
  border: 0;
  background: transparent;
  font-family: 'Advance Wars';
  font-size: 8px;
  line-height: 16px;
}

#quote-preview #background {
  width: 240px;
  height: 48px;
  position: relative;
  margin: 0 auto;
}